.d-section {
    width: 100vw;
    padding: 80px 0;
    background: #00A6A6;
    text-align: center;
    position: relative;
    margin-top: -1px;
    overflow: hidden;
}

.d-title {
    font-family: 'Brush Script MT', cursive;
    font-size: 55px;
    color: white;
    text-align: left;
    padding-left: 100px;
    margin-bottom: 10px;
    margin-top: -50px;
}

.d-info {
    margin: 0 auto;
}
.d-links-text {
    font-size: 20px;
    color: white;
    text-align: left;
    padding-left: 100px;
    margin-bottom: 10px;
}

.d-contacts-text {
    font-size: 20px;
    color: white;
    text-align: right;
    padding-right:100px;
    margin-top: -120px;
}
