.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 40px;
    margin: 0;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}

.hero-content-container {
    position: absolute;
    top: 155px;
    left: 6%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}


.hero-content:first-child {
    padding: 20px 40px;
    width: fit-content;
    min-width: 200px;
}


.hero-content:last-child {
    padding: 30px;
    width: 100%; /* Mantiene el ancho completo */
    max-width: 600px;
}

.hero-content {
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: white;
}

.hero-content h1 {
    font-size: 120px;
    margin: 0;
    font-family: 'Brush Script MT', cursive;
    white-space: nowrap;
}

.hero-content p {
    font-size: 25px;
    line-height: 1.5;
    margin: 0;
}