/*seccion principal*/
.mv-section {
    width: 100vw;
    padding: 80px 0;
    background: #00A6A6;
    text-align: center;
    position: relative;
    margin-top: -1px;
    overflow: hidden;
}

/*contenedor de tarjetas*/
.mv-grid {
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.card-container {
    width: 40%;
    text-align: center;
}

.mv-title {
    font-family: 'Brush Script MT', cursive;
    font-size: 55px;
    color: white;
    margin-bottom: 5px;
    margin-top: -15px;
}

.mv-card {
    width: 100%;
    background: #CDE5E5;
    padding: 25px;
    border-radius: 15px;
}

.mv-card p {
    font-size: 18px;
    color: #37A7A7;
    text-align: left;
    margin-top: 0;
}

.images-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog-chip-img {
    width: 26%;
    position: absolute;
    z-index: 2;
    transform: translateY(-50%);
}

.chip-bg {
    width: 100vw;
    height: 230px;
    background-size: cover;
    background-position: center;
    z-index: 1;
    margin: 0 -1px;
}
