.navbar {
    width: 100vw;
    padding: 20px 40px;
    background: #00A6A6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.btn-light {
    background: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    margin-right: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.btn-dark {
    background: #007d7d;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}