/*seccion principal*/
.product-section {
    width: 100%;
    padding: 30px 0;
    background: #CDE5E5;
    text-align: center;
    position: relative;
}

/*estilo del encabezado*/
.product-header {
    margin-bottom: 40px;
}

/*titulo*/
.product-header h2 {
    font-family: 'Brush Script MT', cursive;
    font-size: 55px;
    color: #37A7A7;
    margin-bottom: 5px;
}

/*linea blanca*/
.white-line {
    width: 300px;
    height: 3px;
    background: #37A7A7;
    margin: 0 auto;
}

/*contenedor de la imagen*/
.product-container {
    width: 60%;
    height: 520px;
    margin: 0 auto;
    background: #FFF6DF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


/*imagen del producto*/
.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}